name: Simple Go Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: true

      - name: Build binary
        working-directory: ./hello
        run: go build -v -o hello-app hello.go

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: compiled-binary  # The name you'll see in GitHub
          path: hello/hello-app        # The path to the file you want to save
          retention-days: 5      # Optional: How long to keep the file